{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Welcome to Parlement Tracker! {% endblock %}</h1>

    <!-- Start Dropdown Button -->
    <div class="dropdown ms-3">
        <button id="legislature" class="btn btn-bd-light dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" data-bs-display="static">
            {% if legislature == 0 %}
                <span class="d-none d-lg-inline">Toutes</span>
            {% else %}
                <span class="d-none d-lg-inline">legislature {{ legislature }}</span>
            {% endif %}
        </button>
        <ul class="dropdown-menu" aria-labelledby="legislature">
            {% if legislature != 0 %}
            <li><a class="dropdown-item" href="{{ url_for('index') }}">Toutes</a></li>
            {% endif %}
            {% for l in legislatures %}
                {% if l != legislature %}
                    <li><a class="dropdown-item" href="{{ url_for('index', legislature=l) }}">legislature {{ l }}</a></li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
    <!-- End Dropdown Button -->

    <h2>Taux de participation moyen à l'assemblée nationale: {{ moyenne }}%</h2>

    <h2>Taux de participation moyen au sénat: en cours</h2>

    <h2>Taux de participation moyen au parlement européen: en cours</h2>


{% endblock %}

{% block script %}

{% endblock %}